.App {
  text-align: center;
}
.btn-brand {
  width: 134px;
  height: 45px;
  border-radius: 5px;
  background-color: #111430;
  border: 1px solid black;
  color: white;
  transform: .5s;
}
.btn-brand:hover {
  background-color: #111;
  border: 1px solid #111430;
}
.brand-heading {
  color: #111430;
  font-weight: bold;
}
.brand-color {
  color: #111430;
  font-weight: 400;
}
